/* styles.css */
/* .app {
    display: flex;
  }
  
  aside {
    width: 200px;
    padding: 10px;
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 5px 0;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  .listElement{
    background-color: black;
  } */