.tag-picker {
    font-family: Arial, sans-serif;
  }
  
  
  .selected-tag {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  

  /* СТАВИМ ABSOLUTE ЧТОБЫ НАМ НЕ ПЕРЕМЕЩАЛО ДРУГИЕ КНОПКИ И КОМПОНЕНТЫ */
  .tag-list {
    position: absolute;           
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
    border-radius: 5px;
    width: 299px;
  }
  .tag-listDark {
    position: absolute;           
    border: 1px solid #ccc;
    z-index: 10;
    padding: 10px;
    background: #363636;
    border-radius: 5px;
    width: 299px;
  }
  
  .tag-item {
    
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    /* background: #E0F7FA; */
  }
  
  
  .testwork {
    background: #e3caf7;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 281px;
    position: relative;
    text-align: center;
  }

  .testwork:hover {
    background: #e3caf7;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 281px;
    position: relative;
    text-align: center;
    outline: 1px solid #412454;
  }

  .testworkDark {
    color: #D5D9E3;
    background: #492F64;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 281px;
    position: relative;
    text-align: center;
  }
  
  .labwork {
    background: #dfffe0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 281px;
    position: relative;
    text-align: center;
  }

  .labwork:hover {
    background: #dfffe0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 281px;
    position: relative;
    text-align: center;
    outline: 1px solid #155d33;
  }

  .labworkDark {
    color: #D5D9E3;
    background: #2C593F;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 281px;
    position: relative;
    text-align: center;
  }

  .homework {
    position: relative;
    background: #d0eaff;
    font-size: 17px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 281px;
    text-align: center;
  }

  .homework:hover {
    position: relative;
    background: #d0eaff;
    font-size: 17px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 281px;
    text-align: center;
    outline: 1px solid #2e6a9c;
  }

  .homeworkDark {
    position: relative;
    color: #D5D9E3;
    background: #29456C;
    font-size: 17px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 281px;
    text-align: center;
  }